* {
    margin: 0 auto;
    padding: 0;
}


/* .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
} */

header {
    /* background: rgba(24, 38, 84, 0.95); */
    /* position: fixed; */
}

header ul {
    list-style: none;
    display: inline;
    padding: 1rem;
}

header ul li {
    display: inline;
    padding: 1rem;
}

.logo-header {
    width: 100%;
}

.logo-header img {
    width: 100%;
}